/* svg */
.pipeflow {
    fill: none;
    stroke-width: 5;
    stroke-dasharray: 40 20;
    animation: flowLine 2s linear infinite;
 }
.pipe {
    fill: none;
    stroke: #424242;
    stroke-width: 7; /* 外层管道的线宽 */
    /*stroke-opacity: 0.5;*/
}
 @keyframes flowLine {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -60;
    }
}